[submodule "themes/hugo-video"]
	path = themes/hugo-video
	url = https://github.com/martignoni/hugo-video.git
[submodule "themes/hugo-theme-learn"]
	path = themes/hugo-theme-learn
	url = https://github.com/insighio/hugo-theme-learn
[submodule "externalsources"]
	path = externalsources
	url = https://gitlab.com/insighiot/insighio-documentation.git
