{{ $htmlTable := .Inner | markdownify }}
{{ $class := .Get 0 }}
{{ $old := "<table>" }}
    {{ $new := "<table>" }}
        {{ if $class }}
        {{ $new = printf "<table class=\"%s\">" $class }}
            {{ end }}
            {{ $htmlTable := replace $htmlTable $old $new }}
            {{ $htmlTable := replaceRE "<td([^>]*)>" "<td class=\"column-same-width\"$1>" $htmlTable }}

                    <div class="even-data-table">
                        {{ $htmlTable | safeHTML }}
                    </div>